.container {
  padding: 20px;
}

.loading {
  display: block;
  margin: 20px auto;
}

.title {
  margin-bottom: 20px;
  text-align: center;
}

.searchBar {
  margin-bottom: 20px;
  width: 100%;
}

.gridContainer {
  margin-top: 20px;
}

.card {
  cursor: pointer;
  transition: transform 0.3s ease;
  max-width: 100%;
}

.card:hover {
  transform: scale(1.03);
}

.busTitle {
  margin-bottom: 10px;
  font-weight: bold;
  height: 4rem;
  overflow: hidden;
}

.description {
  margin-bottom: 10px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 600px) {
  .gridContainer {
    justify-content: center;
  }
}
